@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }


}

.kaboom {
    animation: shake 0.5s ease-in-out 5;
}